/* Colors */
:root {
	--white: #FFFFFF;
	--almostWhite: #EFF1F2;
	--darkGrey: #25282A;
	--black: #000000;

	--blue: #0059D9;
	--blueViolet: #71ABFF;
	--grey: #C5CDD7;

	--facebook: #395A99;
	--vk: #4d7198;
	--telegram: #2CA5E0;
}

body {
	margin: 0;
}

h1, h2, h3, a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	color: var(--black);
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	line-height: 44px;
}

h2 {
	font-size: 32px;
	line-height: 36px;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

p.paragraph_small {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

p.paragraph_mono {
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
}

header {
	background-color: var(--almostWhite);
	text-align: center;
	justify-content: center;
}

.header_wrapper {
	padding-top: 124px;
	padding-bottom: 124px;
	align-content: center;
	text-align: center;
}

.wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	max-width: calc(100% - 80px);
}

.button {
	height: 52px;
	border-radius: 4px;
	color: var(--white);
	background-color: var(--blue);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 18px;
	border: 0;
	outline: none;
}

.header__button {
	width: 280px;
}

.footer__button {
	width: 100%;
}

.header__avatar {
	width: 340px;
	border-radius: 50%;
	margin-bottom: 36px;
}

.header__title {
	margin-bottom: 8px;
}

.header__description {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.expectations {
	background-color: var(--white);
	margin-right: auto;
	margin-left: auto;
}

.expectations__header {
	margin-bottom: 16px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.expectations__tabs {
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
	list-style: none;
	padding: 0;
}

.expectations__tab {
	width: 100%;
	overflow: hidden;
    border-top: 1px solid var(--grey);
    padding-bottom: 15px;
}

.expectations__tab-label{
    display: flex;
    justify-content: space-between;
    padding: 14px 0 12px;
    color: var(--blue);
    cursor: pointer;
    transition: all 0.2s linear;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
}

.expectations__tab-label:hover {
    color: var(--black);
}

.expectations__tab-label:after {
    content: "\002B";
    width: 24px;
    height: 24px;
    font-size: 32px;
    text-align: center;
    transition: all 0.2s linear;
}

.expectations__tab-content {
	max-width: 520px;
	max-height: 0px;
	text-align: left;
    color: #2c3e50;
    background: var(--white);
}

input[type="radio"] {
	display: none;
}

input:checked + .expectations__tab-label {
    color: var(--black);
}

input:checked + .expectations__tab-label:after {
    transform: rotate(45deg);
}

input:checked ~ .expectations__tab-content {
    max-height: 1000px;
}

@media screen and (max-width: 600px) {
	h1, h2 {
		font-size: 32px;
		line-height: 36px;
	}

	.header_wrapper {
		padding-top: 165px;
		padding-bottom: 165px;
	}

	.header__description {
		max-width: 280px;
	}

	.header__avatar {
		width: 250px;
		margin-bottom: 32px;
	}

	.wrapper {
		padding-top: 52px;
		padding-bottom: 52px;
	}
}

@media screen and (max-width: 320px) {
	.header_wrapper {
		padding-top: 88px;
		padding-bottom: 87px;
	}

	.header__avatar {
		width: 205px;
	}

	.header__button {
		max-width: 280px;
		width: 100%;
	}

	.wrapper {
		max-width: calc(100% - 40px);
	}
}